<!DOCTYPE html>
<html lang="en">
<head>


    <head>
    <meta charset="UTF-8">
    <title>캔들차트 기본 예제</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Chart.js, Financial 차트 플러그인, 날짜 포맷용 어댑터 불러오기 -->
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chartjs-chart-financial"></script>
    <script src="https://cdn.jsdelivr.net/npm/chartjs-adapter-date-fns"></script>
  </head>
  <title>Document</title>
</head>
<body>
  
</body>
</html>